
  translates :name, <%= attributes.map{|a| ":#{a.name}, " if a.locale }.compact.join %><%= ':nav_name, ' if options.type == 'section' %>:meta_description, :meta_title

  accepts_nested_attributes_for :translations

  validates_with LocaleValidator
