$breakpoints: (
  'mobile': (max-width: 480px),
  'tablet': (max-width: 800px)
);

@mixin respond-to($breakpoint) {
  $media: map-get($breakpoints, $breakpoint);

  @media #{inspect($media)} {
    @content;
  }
}

@mixin min-width($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin max-width($max-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

@mixin min-height($min-height) {
  @media screen and (min-height: $min-height) {
    @content;
  }
}

@mixin max-height($max-height) {
  @media screen and (max-height: $max-height) {
    @content;
  }
}

@mixin image-2x($image, $width, $height) {
  @media (-moz-min-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin retina() {
  @media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min-resolution: 144dpi) {
    @content;
  }
}

@mixin image($url) {
  background-image: image-url('admin/#{$url}');
  background-repeat: no-repeat;
}

@mixin svg($name) {
  background-image: image-url('admin/#{$name}.svg');
  background-repeat: no-repeat;
}
