$white-color: #fff;
$gray-color: #ccc;
$blue-color: #00aeef;

$text-color: #191919;
$text-light-color: #999;
$heading-color: #4a4a4a;

$line-color: #d8d8d8;

$red-color: #f31d36;
$green-color: #29b53e;

$wrapper-width: 1000px;
$min-width: 1000px;

$link-color: #08c;
$link-hover-color: #08c;

$font-family: 'Lato', sans-serif;
