class AddTranslationFields<%= attributes.select(&:locale).map(&:name).join('_').camelize %>To<%= file_name.camelize %> < ActiveRecord::Migration[5.1]
  def up
    <% attributes.select(&:locale).each do |attribute| -%>
      <%= file_name.camelize %>.add_translation_fields! <%= attribute.name %>: :<%= attribute.type %>
    <% end -%>
  end

  def down
    <% attributes.select(&:locale).each do |attribute| -%>
      remove_column :<%= file_name %>_translations, :<%= attribute.name %>
    <% end -%>
  end
end
