@font-face {
  font-family: "Lato";
  src: font-url("lato/latoregular.woff2") format("woff2"),
       font-url("lato/latoregular.woff") format("woff"),
       font-url("lato/latoregular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: font-url("lato/latoitalic.woff2") format("woff2"),
       font-url("lato/latoitalic.woff") format("woff"),
       font-url("lato/latoitalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: font-url("lato/latolight.woff2") format("woff2"),
       font-url("lato/latolight.woff") format("woff"),
       font-url("lato/latolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: font-url("lato/latomedium.woff2") format("woff2"),
       font-url("lato/latomedium.woff") format("woff"),
       font-url("lato/latomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: font-url("lato/latobold.woff2") format("woff2"),
       font-url("lato/latobold.woff") format("woff"),
       font-url("lato/latobold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*
@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu/ubuntu.woff2") format("woff2"),
       url("/fonts/ubuntu/ubuntu.woff") format("woff"),
       url("/fonts/ubuntu/ubuntu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad";
  src: url("/fonts/myriad/myriadproregular.woff") format("woff"),
       url("/fonts/myriad/myriadproregular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*/
