doctype html
html#no-js lang="ru"
  head
    meta charset="utf-8"

    title= show_title || '<%= application_name.camelize %>'

    meta name="viewport" content="width=1000, initial-scale=1"

    link rel="icon" type="image/png" sizes="16x16" href="/favicon.png"
    link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"

    = stylesheet_link_tag "admin/application", :media => "all"
    = yield :styles

    javascript:
      document.getElementById('no-js').id = 'js';

    = csrf_meta_tag

    = javascript_include_tag "admin/application"
    = yield :javascript

  body.page class="#{@body_class}"
    = content_for?(:admin_layout) ? yield(:admin_layout) : yield
